<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRssReader" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59585/rssreader/RssReader.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRssReader"
                contract="RssReaderServiceReference.IRssReader" name="BasicHttpBinding_IRssReader" />
        </client>
    </system.serviceModel>
</configuration>